In [1]:
5//3

In [2]:
movie_title = 'Harry Potter and the prisoner of Azkaban'
print(movie_title.count('a'))

In [3]:
print(list(range(0,10)))

In [4]:
#Numpy
import numpy as np
list_two = list(range(1,4))
list_three = list(range(1,4))
list_sum = []
_
for index in range(3):
    list_two[index] = list_two[index]**2
    list_three[index] = list_three[index]**3
    list_sum.append(list_two[index]+list_three[index])
print(list_sum)

[2, 12, 36]

In [5]:
sample_array = np.array([1,2,3])

In [6]:
import numpy as np

listtwo = np.arange(1,4)**2
listthree = np.arange(1,4)**3
print(listtwo + listthree)

[ 2 12 36]

In [7]:
print(np.power((sample_array),2))

[1 4 9]

In [8]:
print(np.negative((sample_array)))

[-1 -2 -3]

In [9]:
#exponential is e to the power x, here elements in the given array
print(np.exp(sample_array))

[ 2.71828183  7.3890561  20.08553692]

In [10]:
#natural logerathmic for the elements in given array
print(np.log(sample_array))

[0.         0.69314718 1.09861229]

In [11]:
#similar to this all the trignometric (radian etc.) and mathematical operation can be done in similar way
print(np.sin(sample_array))

[0.84147098 0.90929743 0.14112001]

In [12]:
#multidimensional array

x = np.arange(3)
y = np.arange(2,5)
z = np.arange(3,6)

multi_array = np.array([x,y,z],dtype=np.int64) # defining datatype to be 16 bits
print(multi_array)
print(multi_array.shape) # number of rows and number of columns

multi_array[0,0] # this is indexing to access element at location (0,0). 
# Note indexing starts at 0 and not at 1 which is case with matlab

[[0 1 2]
 [2 3 4]
 [3 4 5]]
(3, 3)

0

In [13]:
w = np.linspace(0,1,100) # here linspace fuction outputs 50 numbers between 0 and 1 all equally spaced
print(w)

[0.         0.01010101 0.02020202 0.03030303 0.04040404 0.05050505
 0.06060606 0.07070707 0.08080808 0.09090909 0.1010101  0.11111111
 0.12121212 0.13131313 0.14141414 0.15151515 0.16161616 0.17171717
 0.18181818 0.19191919 0.2020202  0.21212121 0.22222222 0.23232323
 0.24242424 0.25252525 0.26262626 0.27272727 0.28282828 0.29292929
 0.3030303  0.31313131 0.32323232 0.33333333 0.34343434 0.35353535
 0.36363636 0.37373737 0.38383838 0.39393939 0.4040404  0.41414141
 0.42424242 0.43434343 0.44444444 0.45454545 0.46464646 0.47474747
 0.48484848 0.49494949 0.50505051 0.51515152 0.52525253 0.53535354
 0.54545455 0.55555556 0.56565657 0.57575758 0.58585859 0.5959596
 0.60606061 0.61616162 0.62626263 0.63636364 0.64646465 0.65656566
 0.66666667 0.67676768 0.68686869 0.6969697  0.70707071 0.71717172
 0.72727273 0.73737374 0.74747475 0.75757576 0.76767677 0.77777778
 0.78787879 0.7979798  0.80808081 0.81818182 0.82828283 0.83838384
 0.84848485 0.85858586 0.86868687 0.87878788 0.88888889 0.8989899
 0.90909091 0.91919192 0.92929293 0.93939394 0.94949495 0.95959596
 0.96969697 0.97979798 0.98989899 1.        ]

In [14]:
#dtype can be used for the high precision scientific computing and memory optimization
print (multi_array.dtype)

int64

In [15]:
# 1 dimensional array slicing / reshaping
# here if the -1 can be used if the dimension of reshape is unknown

x = np.arange(18).reshape(2,3,3) # 2 for numbers of array, 3 for numbers of rows and 3 for number of col
print(x)

[[[ 0  1  2]
  [ 3  4  5]
  [ 6  7  8]]

 [[ 9 10 11]
  [12 13 14]
  [15 16 17]]]

In [16]:
# mutidiensional array slicing/ reshaping

x = np.arange(18).reshape(3,2,3)
print(x)

[[[ 0  1  2]
  [ 3  4  5]]

 [[ 6  7  8]
  [ 9 10 11]]

 [[12 13 14]
  [15 16 17]]]

In [17]:
x[1,1,1]

10

In [26]:
# change in ravelled array will change original array x
ravelled_array = x.ravel()
ravelled_array[2] = 3300330033
print(ravelled_array)
print(x)

[         0          1 3300330033          3          4          5
          6          7          8          9         10         11
         12         13         14         15         16         17]
[[[         0          1 3300330033]
  [         3          4          5]]

 [[         6          7          8]
  [         9         10         11]]

 [[        12         13         14]
  [        15         16         17]]]

In [25]:
# change in the flatten array will not change x array
flattened_array = x.flatten()
flattened_array[2] = 55555
print (flattened_array)
print(x)

[    0     1 55555     3     4     5     6     7     8     9    10    11
    12    13    14    15    16    17]
[[[ 0  1  2]
  [ 3  4  5]]

 [[ 6  7  8]
  [ 9 10 11]]

 [[12 13 14]
  [15 16 17]]]

In [18]:
# this is multidimensional slicing
x[1,0:2,0:3]

array([[ 6,  7,  8],
       [ 9, 10, 11]])

In [19]:
x[:,0,0]

array([ 0,  6, 12])

In [20]:
comparison_operation = x>5
print(comparison_operation)

[[[False False False]
  [False False False]]

 [[ True  True  True]
  [ True  True  True]]

 [[ True  True  True]
  [ True  True  True]]]

In [21]:
x[comparison_operation]

array([ 6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17])

In [30]:
y= np.arange(9)
y.shape= (3,3)
print (y)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

In [32]:
# calling transpose function to transpose the array
# it can be written as (y.T)
print (y.transpose())

[[0 3 6]
 [1 4 7]
 [2 5 8]]

In [34]:
print(np.resize(y,(6,6)))

[[0 1 2 3 4 5]
 [6 7 8 0 1 2]
 [3 4 5 6 7 8]
 [0 1 2 3 4 5]
 [6 7 8 0 1 2]
 [3 4 5 6 7 8]]

In [45]:
print(np.zeros((2,2),dtype = int))

[[0 0]
 [0 0]]

In [46]:
print(np.ones((3,3),dtype = int))

[[1 1 1]
 [1 1 1]
 [1 1 1]]

In [44]:
print(np.eye(3))

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

In [51]:
print(np.random.rand(3,3))

[[0.09692044 0.7403256  0.45844575]
 [0.75233158 0.032078   0.70026624]
 [0.60068596 0.93033935 0.80017335]]

In [63]:
import numpy as np
mat_a = np.matrix([0,3,5,5,5,2]).reshape(2,3)
mat_a

matrix([[0, 3, 5],
        [5, 5, 2]])

In [64]:
mat_b = np.matrix([3,4,3,-2,4,-2]).reshape(3,2)
mat_b

matrix([[ 3,  4],
        [ 3, -2],
        [ 4, -2]])

In [65]:
mat_a*mat_b

matrix([[ 29, -16],
        [ 38,   6]])

In [69]:
product = np.matmul(mat_a,mat_b)
product

matrix([[ 29, -16],
        [ 38,   6]])

There are two ways of stacking horizontal and vertical. For horizontal stacking numbers of row should be same for the stacking matrix while for vertical stacking number of columns to be same

In [70]:
x1 = np.arange(4).reshape(2,2)
print(x1)

[[0 1]
 [2 3]]

In [71]:
y1 = np.arange(4,8).reshape(2,2)
print(y1)

[[4 5]
 [6 7]]

In [74]:
z1 = np.hstack((x1,y1))
print(z1)

[[0 1 4 5]
 [2 3 6 7]]